extends layout

block content
  br
  .container
    .jumbotron
      h1.display-3 GDAX exchange
      p.lead
          | Select options for the crypto data set you would like to download from the GDAX exchange.
      a.btn.btn-warning(href="/crypto/btc/minute") BTC One Minute Interval
      br
      br
      a.btn.btn-warning(href="/crypto/btc/five_minute") BTC 5 Minute Interval
      br
      br
      a.btn.btn-warning(href="/crypto/btc/fifteen_minute") BTC 15 Minute Interval
      br
      br
      a.btn.btn-warning(href="/crypto/btc/hour") BTC 1 Hour Interval
      br
      br
      a.btn.btn-warning(href="/crypto/btc/six_hour") BTC 6 Hour Interval
      br
      br
      a.btn.btn-warning(href="/crypto/btc/twenty_four_hour") BTC 24 Hour Interval
      br
      br



      a.btn.btn-secondary(href="/crypto/ltc/minute") LTC One Minute Interval
      br
      br
      a.btn.btn-secondary(href="/crypto/ltc/five_minute") LTC 5 Minute Interval
      br
      br
      a.btn.btn-secondary(href="/crypto/ltc/fifteen_minute") LTC 15 Minute Interval
      br
      br
      a.btn.btn-secondary(href="/crypto/ltc/hour") LTC 1 Hour Interval
      br
      br
      a.btn.btn-secondary(href="/crypto/ltc/six_hour") LTC 6 Hour Interval
      br
      br
      a.btn.btn-secondary(href="/crypto/ltc/twenty_four_hour") LTC 24 Hour Interval
      br
      br


      a.btn.btn-primary(href="/crypto/eth/minute") ETH One Minute Interval
      br
      br
      a.btn.btn-primary(href="/crypto/eth/five_minute") ETH 5 Minute Interval
      br
      br
      a.btn.btn-primary(href="/crypto/eth/fifteen_minute") ETH 15 Minute Interval
      br
      br
      a.btn.btn-primary(href="/crypto/eth/hour") ETH 1 Hour Interval
      br
      br
      a.btn.btn-primary(href="/crypto/eth/six_hour") ETH 6 Hour Interval
      br
      br
      a.btn.btn-primary(href="/crypto/eth/twenty_four_hour") ETH 24 Hour Interval
      br
      br